<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<RollingRandomAccessFile name="StdFile"
								 fileName="/var/log/time/crawler.wiki.log" filePattern="/var/log/time/crawler.wiki.log">
			<PatternLayout>
				<pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
			</PatternLayout>
			<SizeBasedTriggeringPolicy size="2 MB" />
		</RollingRandomAccessFile>
	</Appenders>
	<Loggers>
		<Root level="error">
            <AppenderRef ref="StdFile" />
            <AppenderRef ref="Console" />
		</Root>
		<Logger name="org.apache.http" level="error"/>
		<Logger name="edu.uci.ics.crawler4j" level="info"/>
		<Logger name="time" level="info"/>
		<Logger name="time.storage.filter" level="info"/>
	</Loggers>
</Configuration>