html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    background: #f5f9fb;
}


.bar {
	/*width: 100%;
	position : fixed;
    background: white;
    top : 0;*/

    box-shadow: rgba(11, 17, 25, 0.1) 0 2px 5px;
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    z-index: 100;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #ffffff ;
}

.search{
    text-align  : center;
    font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
    font-size: 25px;
    border:solid 1px #CDCDCD;
    border-radius:3px;
    width: 450px;
    padding: 7px;
    background: url(img/loupe.svg) no-repeat scroll 500px 11px;
    background-size: 18px 18px;
    padding-right:20px;
}

.phrases {
    margin-top: 150px;
}

.throbber
{
    margin-top: 0;
    vertical-align: middle;
    margin-top: expression(( 150 - this.height ) / 2); 
}

.mousetip, .bartip{
    position : absolute;
    text-align: center; 
    background: #FFF;
    font: italic normal 90% Georgia, serif;
    height: 20px;
    visible : false;
    opacity : 0;
}

.mousetip {
    border: 0px solid;
}

.bartip {
    border: 1px solid #000;
}

.bartip:before, .bartip:after {
    content: "";
    position: absolute;
    top: 0%;
    left: 15px;
    z-index: 1;
}

.bartip:before {
    border-bottom: 8px solid #000;
    
    border-left:8px solid transparent;
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;

    margin-top : -16px;
}

.bartip:after{
    border-bottom: 8px solid #FFF;
    
    border-left: 8px solid transparent;
    border-top: 8px solid transparent;
    border-right:8px solid transparent;

    margin-top : -15px;
}



