html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

input[type="text"] {
	width: 100%;
    text-align  : center;
    font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
    font-size: 25px;
}

.bar {
	width: 100%;
	position : fixed;
    background: white;
    top : 0;
}

.phrases {
    margin-top: 150px;
}

.throbber
{
    margin-top: 0;
    vertical-align: middle;
    margin-top: expression(( 150 - this.height ) / 2); 
}

.mousetip, .bartip{
    position : absolute;
    text-align: center; 
    background: #FFF;
    font: italic normal 90% Georgia, serif;
    height: 20px;
    visible : false;
    opacity : 0;
}

.mousetip {
    border: 0px solid;
}

.bartip {
    border: 1px solid #000;
}

.bartip:before, .bartip:after {
    content: "";
    position: absolute;
    top: 0%;
    left: 15px;
    z-index: 1;
}

.bartip:before {
    border-bottom: 8px solid #000;
    
    border-left:8px solid transparent;
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;

    margin-top : -16px;
}

.bartip:after{
    border-bottom: 8px solid #FFF;
    
    border-left: 8px solid transparent;
    border-top: 8px solid transparent;
    border-right:8px solid transparent;

    margin-top : -15px;
}



