.uploadUrlText{
    width: 300px;
}

.metadatas{
    border:1px dotted black;
}

.paragraph{
	margin-bottom: 10px;
	background-color: #F0F0F0;
}

.phrase{
	background-color: yellow;
	margin-bottom: 5px;
}