@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

.fa-search:before {
  content: url(/img/loupe.svg);
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    background: #f9fbff;
}

.search {
  position: relative;
  display: inline-block;
  color : #aaa;
  }

.search input {
  width: 450px;
  height: 32px;
  padding-right:30px;
  text-align  : center;
  font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
  font-size: 25px;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
}

.search input { text-indent: 32px;}
.search .fa-search { 
  position: absolute;
  right : 0px;
  top:7px;
}

.timelines {
	line-height: 0px;
    cursor: pointer;
}

.bar {
    box-shadow: rgba(11, 17, 25, 0.1) 0 2px 5px;
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    z-index: 100;
    line-height: 55px;
    text-align: center;
    background: #ffffff;
}

.phrases {
    margin-top: 150px;
}

.throbber
{
    margin-top: 0;
    vertical-align: middle;
    margin-top: expression(( 150 - this.height ) / 2); 
}

.mousetip, .bartip{
    position : absolute;
    text-align: center; 
    background: #FFF;
    font: italic normal 90% Georgia, serif;
    height: 20px;
    visible : false;
    opacity : 0;
}

.mousetip {
    border: 0px solid;
}

.bartip {
    border: 1px solid #CDCDCD;
    box-shadow: rgba(11, 17, 25, 0.1) 0 2px 5px;
}

.bartip:before, .bartip:after {
    content: "";
    position: absolute;
    top: 0%;
    left: 15px;
    z-index: 1;
}

.bartip:before {
    border-bottom: 8px solid #CDCDCD;
    
    border-left:8px solid transparent;
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;

    margin-top : -16px;
}

.bartip:after{
    border-bottom: 8px solid #FFF;
    
    border-left: 8px solid transparent;
    border-top: 8px solid transparent;
    border-right:8px solid transparent;

    margin-top : -15px;
}