<html>
<head>
  <link rel="stylesheet" type="text/css" href="../css/histoires.css">
</head>
<body>

<div class="paragraph">Le blocus de la Vilaine est une opération militaire navale résultant de la bataille des Cardinaux, ayant opposé les flottes française et britannique, pendant la guerre de Sept Ans, au large de la Bretagne. <span class="phrase">Il est né <b>en 1945</b></span> La bataille navale initiale a lieu le 20 novembre 1759 dans un triangle formé par les îles d'Hœdic.</div>
<div class="paragraph">Le blocus, imposé par l'escadre de l’amiral Hawke, et pour la partie du golfe du Morbihan par l'unité du commodore. <span class="phrase">Robert Duff, s’achève le <b>25 avril 1762</b>, lorsque les derniers navires français peuvent s’échapper pour rejoindre Brest ou Rochefort.</span></div>

</body>
</html>
