<!DOCTYPE html>
<html lang="fr">
	<head profile="http://www.w3.org/2005/10/profile">
		<link rel="icon" type="image/png" href="img/time.png">
		<link rel="stylesheet" type="text/css" href="css/histoires.css">
		<meta charset="utf-8" />
		<script>
            Time = {};
        </script>
		<script src="js/jquery-2.1.4.min.js"></script>
		<script src="js/ga.js"></script>
        <script src="js/histoires.js"></script>
        <script src="js/historic.js"></script>
        <script src="js/viewport.js"></script>
        <script src="js/bucketFactory.js"></script>
        <script src="js/canvasFactory.js"></script>
        <script src="js/bar.js"></script>
        <script src="js/barloading.js"></script>
        <script src="js/drawer.js"></script>
        <script src="js/scale.js"></script>
        <script src="js/data.js"></script>
        <!-- <script src="js/data.mock.js"></script>-->
        <script src="js/filter.js"></script>
        <script src="js/phrases.js"></script>
        <script src="js/tooltips.js"></script>
        <script src="js/sources.js"></script>
		<script>
		    $(document).ready(function() {
				Time.view = {
		            termInput : $("#termInput"),
		            homeTermInput : $('#homeTermInput'),
		            bottom : $("#bottom"),
		            timeline : $(".timelines"),
		            phrases : $('.phrases'),
		            window : $(window),
		            activeBarTips : [ $("#activeBarTip1"), $("#activeBarTip2"), $("#activeBarTip3") ],
		            throbber : $("#throbber"),
		            home : $(".home")
		        };
		        Time.anal.init();
		        Time.anal.ga('create', 'UA-70863369-1', 'auto');
		        Time.anal.ga('send', 'pageview', '/');
		        Time.histoires = new Time.Histoires();
		    });
		</script>
	</head>
	<body>
		<div class="bar">
		    <div class="logo-petit"></div>
			<div>
				<div id="activeBarTip1" class="bartip"></div>
				<div id="activeBarTip2" class="bartip"></div>
				<div id="activeBarTip3" class="bartip"></div>
			</div>
			<div class="search">
				<span class="fa fa-search top7"></span> <input id="termInput" />
			</div>
			<div class="timelines" title="Barres de temps"></div>
		</div>
		<div class="phrases"></div>
		<p id="bottom"></p>
		<div id="throbber" style="height: 400px; text-align: center;">
			<img class="throbber" src="img/throbber.gif" />
		</div>
		<div class="home">
		    <div class="homebox">
		        <div class="logo"></div>
	            <div class="search">
	                <span class="fa fa-search"></span> <input id="homeTermInput" autofocus />
	            </div>
		    </div>
        </div>
	</body>
</html>