<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="../js/jquery-2.2.0.min.js"></script>
    <script>
        $(document).ready(function() {
            console.log('document ready');
            $('input:file').change(upload);
        });

        function upload(event) {
            console.log('upload', event.target.files, event);
            var files = event.target.files;
            var data = new FormData();
            $.each(files, function(key, value)
            {
                data.append(key, value);
            });
            $.ajax({
                url: '/api/upload', type: 'POST', data: data, cache: false, dataType: 'json',
                processData: false, contentType: false,
                success: function(data, textStatus, jqXHR)
                {
                    if(typeof data.error !== 'undefined')
                    {
                       console.log('ERRORS: ' + data.error);
                    }else{
                        console.log('upload sucess', data);
                    }
                },
                error: function(jqXHR, textStatus, errorThrown)
                {
                    console.log('ERRORS: ' + textStatus);
                }
            });
        }

    </script>

</head>
<body>
<input type="file"></input>
</body>
</html>